{% if session.username %}
<p>Tällä sivulla on paljon sisältöä</p>
<a href="/createRecipe">Luo uusi resepti</a>
<form action="/logout" method="POST">
    <input type="submit" value="Kirjaudu ulos">
</form>
{% else %}
<form action="/login" method="POST">
    <p>Käyttäjänimi:<br>
        <input type="text" name="username">
    </p>
    <p>Salasana:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Kirjaudu">
</form>
<a href="/register">Luo uusi käyttäjä</a>
{% endif %}